<app-header [hiddenSearch]="false"></app-header>

<mat-card class="example-card d-flex justify-content-center flex-column">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> {{ character.name }}</mat-card-title>
    <mat-card-subtitle>{{ character.species }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ character.image }}" alt="Photo of a Shiba Inu" />
  <mat-card-content class="d-flex flex-column">
    <div>Localidade: {{ character.location.name }}</div>
    <div>Status: {{ character.status }}</div>
    <div>Genero: {{ character.gender }}</div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="redirect()">VOLTAR</button>
  </mat-card-actions>
</mat-card>
