<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <div class="form-group">
          <mat-form-field>
            <input
              matInput
              placeholder="Usuário"
              [(ngModel)]="username"
              name="username"
              required
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input
              matInput
              placeholder="Senha"
              [(ngModel)]="password"
              name="password"
              type="password"
              required
            />
          </mat-form-field>
        </div>
        <div class="d-flex w-100  justify-content-end">
          <button mat-raised-button color="primary" (click)="login()">
            Entrar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
